* {
    margin: 0;
    padding: 0;
}

.gallery-section {
    min-height: 100vh;
    display: grid;
    place-content: center;
    box-sizing: border-box;
}

.header {
    margin-bottom: 69px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 50px;
    line-height: 1;
    letter-spacing: 0.2em;
}

.container {
    max-width: 1300px;
    margin: 0, auto;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 200px);
    row-gap: 24px;
    column-gap: 23px;
}

#item3{
    grid-column-start: 4;
}

#item4{
    grid-column-start: 2;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}